@()

@main("Order Management System") {
  <h1>API CALLS</h1>
  <h2>#Customer Calls</h2>
  <p>POST    /customer/add</p>
  <p>GET     /customer/all</p>
  <p>GET     /customer/:id</p>
  <p>GET     /customer/:id/remove</p>
  <h2>#Product Calls</h2>
  <p>POST    /product/add</p>
  <p>GET     /product/all</p>
  <p>GET     /product/:id</p>
  <p>GET     /product/:id/remove</p>
  <h2>#Order Calls</h2>
  <p>POST    /order/add</p>
  <p>GET     /order/:id</p>
  <p>PUT     /order/update</p>
}